.confirmation-page {
  padding: var(--space-lg);
  text-align: center;
}

.confirmation-page .process-steps-container {
  display: flex;
  justify-content: center;
  margin-top: clamp(3rem, 6vw, 8rem);
}

.confirmation-page .process-steps {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  width: 100%;
  max-width: clamp(300px, 80vw, 800px);
}

.confirmation-page .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  position: relative;
}

.confirmation-page .step.future .icon-circle {
  background-color: #f0f0f0;
  color: #aaa;
  border-color: #ddd;
}

.confirmation-page .icon-circle {
  width: clamp(40px, 6vw, 60px);
  height: clamp(40px, 6vw, 60px);
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--primary-bg);
  color: black;
  font-size: clamp(24px, 4vw, 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
}

.confirmation-page .step-text {
  margin-top: var(--space-md);
  font-size: var(--font-size-md);
  line-height: 1.4;
  padding: 0 var(--space-sm);
}

.confirmation-page .step-text h3 {
  margin-top: 0;
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-lg);
}

.confirmation-questions {
  margin-top: var(--space-xxxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.question-item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  width: clamp(17rem, 50vw, 60rem);
}

.question-item p {
  margin: 0;
  font-size: var(--font-size-md);
  color: var(--text-dark);
}

.question-item a {
  color: var(--text-dark);
  font-weight: bold;
}

.icon-circle-small {
  width: var(--space-lg);
  height: var(--space-lg);
  border-radius: 50%;
  background-color: var(--text-dark);
  color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.home-button {
  margin-top: var(--space-lg);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-md);
  background-color: var(--text-dark);
  color: white;
  border: none;
  border-radius: var(--space-xs);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .confirmation-page .step-text {
    display: none;
  }
}
