.payment-page {
  width: clamp(20rem, 90vw, 80rem);
  padding: var(--space-md);
  font-family: Arial, sans-serif;
  color: var(--text-dark);
}

.payment-content {
  display: flex;
  gap: var(--space-lg);
  margin-top: var(--space-sm);
  align-items: flex-start;
}

.barcode {
  width: clamp(10rem, 100%, 25rem);
}

.barcode img {
  width: 100%;
  margin-top: var(--space-lg);
}

.total-amount-display {
  margin-top: var(--space-sm);
  font-size: var(--font-size-lg);
  font-weight: bold;
  text-align: center;
  color: var(--text-dark);
}

.payment-content .process-steps {
  margin-left: var(--space-lg);
  margin-top: var(--space-lg);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-left: 1px solid black;
  box-sizing: border-box;
}

.payment-content .step {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.payment-content .icon-circle {
  position: relative;
  width: clamp(40px, 6vw, 60px);
  height: clamp(40px, 6vw, 60px);
  border-radius: 50%;
  border: 0.8px solid black;
  background-color: var(--primary-bg);
  color: black;
  font-size: clamp(24px, 4vw, 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: clamp(-30px, -4vw, -26px);
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.payment-content .step.future .icon-circle {
  background-color: var(--primary-bg);
  color: rgba(85, 85, 85, 0.2);
  border-color: rgba(85, 85, 85, 0.2);
}

.payment-content .step-text {
  margin-left: var(--space-lg); /* Increased spacing from icon */
  margin-top: var(--space-md);
  font-size: var(--font-size-md);
  line-height: 1.4;
}

.payment-content .step-text h3 {
  margin-top: 0;
  margin-bottom: var(--space-sm);
}

.payment-content .step-text ol {
  padding-left: var(--space-lg);
  margin: 0 0 var(--space-md) 0;
}

.confirm-button {
  display: flex;
  margin-top: var(--space-lg);
  text-align: center;
  justify-content: flex-end;
}

.confirm-button button {
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-md);
  background-color: var(--text-dark);
  color: white;
  border: none;
  border-radius: var(--space-xs);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button button:hover {
  background-color: #444;
}

@media (max-width: 1000px) {

  .payment-page {
    width: 85vw;
    display: flex;
    flex-direction: column;       /* stack children vertically */
  }

  .payment-page h2 {
    text-align: center;
  }

  .payment-content {
    flex-direction: column;       /* stack children vertically */
    align-items: center;          /* center horizontally */
    gap: var(--space-md);
  }

  .process-steps {
    margin-top: 0rem;
  }
}
