.product-page-container {
  width: 100%;
}

.page-title {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-lg);
  text-align: left;
}

.product-page {
  display: flex;
  gap: var(--space-xl);
  width: 100%;
  align-items: flex-start;
}

.product-page .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.product-page .main-image img {
  width: 100%;
  height: auto; /* Remove fixed height */
  aspect-ratio: 16 / 12; /* Set aspect ratio */
  object-fit: cover;
  border-radius: var(--space-xs);
}

.product-page .thumbnails {
  display: flex;
  justify-content: space-between;
}

.product-page .thumbnails img {
  width: 23%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--space-xs);
  transition: border-color 0.2s ease-in-out;
}

.product-page .thumbnails img:hover,
.product-page .thumbnails img.active {
  border-color: var(--accent-color);
}

.product-page .interface {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.product-page .text h3 {
  font-size: var(--font-size-md); /* Smaller font size */
  margin-bottom: var(--space-sm);
}

.product-page .text h4 {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-sm);
  color: var(--text-light);
}

.product-page .text p {
  font-size: var(--font-size-sm);
  line-height: 1.6;
}

.color-options {
  display: flex;
  gap: var(--space-md);
  margin: var(--space-sm) 0;
}

.color-square {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--border-color);
  cursor: pointer;
  border-radius: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.color-square.oatmilk {
  background-color: #fffbe7;
}

.color-square.matcha {
  background-color: #8fb78f;
}

.color-square.bundle {
  background: linear-gradient(to top right, #fffbe7 50%, #8fb78f 50%);
}

.color-square.selected {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.price-display {
  margin-top: -1rem;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  /* gap: var(--space-md); */
}

.save-percentage {
  color: var(--accent-color);
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: var(--text-light);
}

.current-price {
  font-weight: normal;
  color: var(--text-dark);
}

@media (max-width: 800px) {
  .product-page {
    flex-direction: column;
  }
}

.product-details-container {
  width: 100%;
  display: flex;
  gap: var(--space-xl);
  width: 100%;
  align-items: flex-start;
  margin-top: var(--space-xl);
}

.product-details-container .product-details-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.product-details-container .product-details-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 12;
  object-fit: cover;
  border-radius: var(--space-xs);
}

.product-details-container .product-details-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.product-details-container .product-details-text h3 {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-sm);
}

.product-details-container .product-details-text p {
  font-size: var(--font-size-sm);
  line-height: 1.6;
  margin-bottom: var(--space-xs);
}

.product-details-container .product-details-text ul {
  font-size: var(--font-size-sm);
  line-height: 1.6;
  margin-bottom: var(--space-xs);
}

@media (max-width: 800px) {
  .product-details-container {
    flex-direction: column;
  }
}

.section-divider {
  border-bottom: 1px solid var(--border-color);
  margin: var(--space-xl) 0;
}

.bold-underline-link {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

